### In this lab:
Understand a dataset of selected socioeconomic indicators in Chicago <br>
Learn how to store data in an Db2 database on IBM Cloud instance <br>
Solve example problems to practice your SQL skills
### Indicators


Community Area Number (ca): Used to uniquely identify each row of the dataset<br>

Community Area Name (community_area_name): The name of the region in the city of Chicago<br>

Percent of Housing Crowded (percent_of_housing_crowded): Percent of occupied housing units with more than one person per room<br>

Percent Households Below Poverty (percent_households_below_poverty): Percent of households living below the federal poverty line<br>

Percent Aged 16+ Unemployed (percent_aged_16_unemployed): Percent of persons over the age of 16 years that are unemployed<br>

Percent Aged 25+ without High School Diploma (percent_aged_25_without_high_school_diploma): Percent of persons over the age of 25 years without a high school education<br>

Percent Aged Under 18 or Over 64:Percent of population under 18 or over 64 years of age (percent_aged_under_18_or_over_64): (ie. dependents)<br>

Per Capita Income (per_capita_income_): Community Area per capita income is estimated as the sum of tract-level aggragate incomes divided by the total population<br>

Hardship Index (hardship_index): Score that incorporates each of the six selected socioeconomic indicators<br>

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\moham\anaconda3\lib\site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in c:\users\moham\anaconda3\lib\site-packages (0.3.7)
Requirement already satisfied: ibm-db>=2.0.0 in c:\users\moham\anaconda3\lib\site-packages (from ibm_db_sa) (3.1.0)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\moham\anaconda3\lib\site-packages (from ibm_db_sa) (1.3.9)

In [2]:
%load_ext sql

In [6]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@hostname:port/BLUDB?security=SSL
# Enter the connection string for your Db2 on Cloud database instance below
# i.e. copy after db2:// from the URI string in Service Credentials of your Db2 instance. Remove the double quotes at the end.
%sql ibm_db_sa://

In [7]:
import pandas

#Storing Data set in table
chicago_socioeconomic_data = pandas.read_csv('https://data.cityofchicago.org/resource/jcxq-k9xf.csv')
%sql PERSIST chicago_socioeconomic_data

 * ibm_db_sa://djd92226:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Statement Execute Failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "END-OF-STATEMENT" was found following "o_socioeconomic_data".  Expected tokens may include:  "JOIN <joined_table>".  SQLSTATE=42601\r SQLCODE=-104
[SQL: PERSIST chicago_socioeconomic_data]
(Background on this error at: http://sqlalche.me/e/f405)

In [8]:
#Display first 5 rows of data set
%sql SELECT * FROM chicago_socioeconomic_data limit 5;

 * ibm_db_sa://djd92226:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "DJD92226.CHICAGO_SOCIOECONOMIC_DATA" is an undefined name.  SQLSTATE=42704\r SQLCODE=-204
[SQL: SELECT * FROM chicago_socioeconomic_data limit 5;]
(Background on this error at: http://sqlalche.me/e/f405)

In [10]:
#To display number of rows
%sql SELECT COUNT(*) FROM chicago_socioeconomic_data;

 * ibm_db_sa://djd92226:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "DJD92226.CHICAGO_SOCIOECONOMIC_DATA" is an undefined name.  SQLSTATE=42704\r SQLCODE=-204
[SQL: SELECT COUNT(*) FROM chicago_socioeconomic_data;]
(Background on this error at: http://sqlalche.me/e/f405)

In [11]:
#Number of community areas in Chicago have a hardship index greater than 50.0
%sql SELECT COUNT(*) FROM chicago_socioeconomic_data WHERE hardship_index > 50.0;

 * ibm_db_sa://djd92226:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "DJD92226.CHICAGO_SOCIOECONOMIC_DATA" is an undefined name.  SQLSTATE=42704\r SQLCODE=-204
[SQL: SELECT COUNT(*) FROM chicago_socioeconomic_data WHERE hardship_index > 50.0;]
(Background on this error at: http://sqlalche.me/e/f405)

In [12]:
#the maximum value of hardship index in this dataset
%sql SELECT MAX(hardship_index) FROM chicago_socioeconomic_data;

 * ibm_db_sa://djd92226:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "DJD92226.CHICAGO_SOCIOECONOMIC_DATA" is an undefined name.  SQLSTATE=42704\r SQLCODE=-204
[SQL: SELECT MAX(hardship_index) FROM chicago_socioeconomic_data;]
(Background on this error at: http://sqlalche.me/e/f405)

In [13]:
#community area with the highest hardship index
#We can use the result of the last query to as an input to this query:
%sql SELECT community_area_name FROM chicago_socioeconomic_data where hardship_index=98.0

#or another option:
%sql SELECT community_area_name FROM chicago_socioeconomic_data ORDER BY hardship_index DESC NULLS LAST FETCH FIRST ROW ONLY;

#or you can use a sub-query to determine the max hardship index:
%sql select community_area_name from chicago_socioeconomic_data where hardship_index = ( select max(hardship_index) from chicago_socioeconomic_data )

 * ibm_db_sa://djd92226:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "DJD92226.CHICAGO_SOCIOECONOMIC_DATA" is an undefined name.  SQLSTATE=42704\r SQLCODE=-204
[SQL: SELECT community_area_name FROM chicago_socioeconomic_data where hardship_index=98.0]
(Background on this error at: http://sqlalche.me/e/f405)
 * ibm_db_sa://djd92226:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "DJD92226.CHICAGO_SOCIOECONOMIC_DATA" is an undefined name.  SQLSTATE=42704\r SQLCODE=-204
[SQL: SELECT community_area_name FROM chicago_socioeconomic_data ORDER BY hardship_index DESC NULLS LAST FETCH FIRST ROW ONLY;]
(Background on this error at: http://sqlalche.me/e/f405)
 * ibm_db_sa://djd92226:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "DJD92226.CHICAGO_SOCIOECONOMIC_DATA" is an undefined name.  SQLSTATE=42704\r SQLCODE=-204
[SQL: select community_area_name from chicago_socioeconomic_data where hardship_index = ( select max(hardship_index) from chicago_socioeconomic_data )]
(Background on this error at: http://sqlalche.me/e/f405)

In [14]:
#Chicago community areas that have per-capita incomes greater than $60,000
%sql SELECT community_area_name FROM chicago_socioeconomic_data WHERE per_capita_income_ > 60000;

 * ibm_db_sa://djd92226:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "DJD92226.CHICAGO_SOCIOECONOMIC_DATA" is an undefined name.  SQLSTATE=42704\r SQLCODE=-204
[SQL: SELECT community_area_name FROM chicago_socioeconomic_data WHERE per_capita_income_ > 60000;]
(Background on this error at: http://sqlalche.me/e/f405)

In [15]:
# if the import command gives ModuleNotFoundError: No module named 'seaborn'
# then uncomment the following line i.e. delete the # to install the seaborn package 
# !pip install seaborn

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

income_vs_hardship = %sql SELECT per_capita_income_, hardship_index FROM chicago_socioeconomic_data;
plot = sns.jointplot(x='per_capita_income_',y='hardship_index', data=income_vs_hardship.DataFrame())

 * ibm_db_sa://djd92226:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "DJD92226.CHICAGO_SOCIOECONOMIC_DATA" is an undefined name.  SQLSTATE=42704\r SQLCODE=-204
[SQL: SELECT per_capita_income_, hardship_index FROM chicago_socioeconomic_data;]
(Background on this error at: http://sqlalche.me/e/f405)

AttributeError: 'NoneType' object has no attribute 'DataFrame'